{{- if lookPath "opencode" -}}
{
  "$schema": "https://opencode.ai/config.json",
  "theme": "gruvbox",
  "model": "anthropic/claude-sonnet-4.5",
  "agent": {
    "code-reviewer": {
      "description": "Reviews code for best practices and potential issues",
      "mode": "subagent",
      "model": "anthropic/claude-sonnet-4-5",
      "prompt": "You are a code reviewer. Focus on security, performance, and maintainability.",
      "tools": {
        "write": false,
        "edit": false
      }
    }
  },
  "command": {
    "review": {
      "template": "Review the changes I just made for quality, best practices, redundancy, exposed sensitive data and potential issues.",
      "agent": "review"
    }
  },
  "mcp": {
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "headers": {
        "CONTEXT7_API_KEY": "{{ .opencode_context7_api_key }}"
      },
      "enabled": true
    }
  }
}
{{- end -}}
