[push]
	default = simple

[alias]
	co = checkout
  st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[log]
  date = relative
[format]
	pretty = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,white)%>(12,trunc)%ad %C(auto,green)%<(12,trunc)%aN %C(auto,reset)%s%C(auto,red)% gD% D

[init]
	defaultBranch = main
[core]
	excludeFile = .gitignore

{{- if lookPath "nvim" }}
	editor = nvim
{{- else if lookPath "vim" }}
	editor = vim
{{- else }}
	editor = nano
{{- end }}

[pull]
	rebase = false
[commit]
	gpgsign = false

[user]
  signingkey = {{ .signingkey }}
  name = {{ .name }}

# Load domain-specific configs
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
    path = .gitconfig-github
[includeIf "hasconfig:remote.*.url:git@{{ .gitlab_domain }}:*/**"]
    path = .gitconfig-gitlab
