{{ if lookPath "zsh" -}}
#!/bin/zsh
# Install and update Zsh Prezto

{{- template "helpers.sh" . }}

progress "Zsh/Prezto"

prezto_dir="${ZDOTDIR:-{{ .chezmoi.homeDir }}}/.zprezto"

if [[ -d "$prezto_dir" ]]; then
    if cd "$prezto_dir" && \
       git pull >/dev/null 2>&1 && \
       git submodule sync --recursive >/dev/null 2>&1 && \
       git submodule update --init --recursive >/dev/null 2>&1; then
        finish
    else
        failed
        exit 1
    fi
else
    if git clone --recursive https://github.com/sorin-ionescu/prezto.git "$prezto_dir" >/dev/null 2>&1; then
        finish
    else
        failed
        exit 1
    fi
fi
{{ end -}}
