{{ if lookPath "vim" -}}
#!/bin/zsh
# Install and configure Vim
# This script reruns when .vimrc changes
# hash: {{ include "dot_vimrc" | sha256sum }}

{{- template "helpers.sh" . }}

progress "Vim"

iceberg_dir="{{ .chezmoi.homeDir }}/git/iceberg.vim"
vim_colors="{{ .chezmoi.homeDir }}/.vim/colors/iceberg.vim"
vim_plug="{{ .chezmoi.homeDir }}/.vim/autoload/plug.vim"

[[ -d "$iceberg_dir" ]] || git clone https://github.com/cocopon/iceberg.vim.git "$iceberg_dir" >/dev/null 2>&1

if link_file "$iceberg_dir/colors/iceberg.vim" "$vim_colors" && \
   curl -fLo "$vim_plug" --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim >/dev/null 2>&1 && \
   vim +'PlugInstall --sync' +qa >/dev/null 2>&1; then
    finish
else
    failed
    exit 1
fi
{{ end -}}
