#!/usr/bin/env bash
{{ template "helpers.sh" . }}
{{- if lookPath "brew" }}
section "Upgrades"

setup_brew_path
try "Upgrading Homebrew packages"  brew upgrade
try "Removing unused dependencies" brew autoremove
try "Cleaning up old versions"     brew cleanup -s
{{- else }}
info "Homebrew not found, skipping upgrades"
{{- end }}
