#!/usr/bin/env bash
{{ template "helpers.sh" . }}
{{ template "install_tool.sh" . }}

set -e

{{- $profile := .profile | default "basic" }}

{{/* Collect custom tools (excluding homebrew and servicehub) from basic + profile */}}
{{- $customTools := list }}
{{- $basicCustom := (index .packages "basic").custom | default list }}
{{- range $basicCustom }}
{{- if and (ne . "homebrew") (ne . "servicehub") }}{{ $customTools = append $customTools . }}{{ end }}
{{- end }}

{{- if ne $profile "basic" }}
{{- $profileCustom := (index .packages $profile).custom | default list }}
{{- range $profileCustom }}
{{- if and (ne . "homebrew") (ne . "servicehub") }}{{ $customTools = append $customTools . }}{{ end }}
{{- end }}
{{- end }}

{{ if gt (len $customTools) 0 -}}
section "Custom Tools ({{ $profile }})"

{{ range $customTools -}}
{{- $installer := index $.custom . }}
install_tool "{{ . }}" "{{ $installer.url }}" "{{ $installer.check }}" "true"
if [ $? -ne 0 ]; then
    exit 1
fi
{{ end -}}
{{ end -}}
