{{ if lookPath "tmux" -}}
#!/bin/zsh
# Install and configure Tmux
# This script reruns when .tmux.conf changes
# hash: {{ include "dot_tmux.conf" | sha256sum }}

{{- template "helpers.sh" . }}

progress "Tmux"

tpm_dir="{{ .chezmoi.homeDir }}/.tmux/plugins/tpm"

[[ -d "$tpm_dir" ]] || git clone https://github.com/tmux-plugins/tpm "$tpm_dir" >/dev/null 2>&1

if tmux start-server >/dev/null 2>&1 && \
   tmux new-session -d >/dev/null 2>&1 && \
   sleep 1 && \
   tmux source "{{ .chezmoi.homeDir }}/.tmux.conf" >/dev/null 2>&1 && \
   "$tpm_dir/scripts/install_plugins.sh" >/dev/null 2>&1 && \
   tmux kill-server >/dev/null 2>&1; then
    finish
else
    failed
    exit 1
fi
{{ end -}}
