{{ if lookPath "brew" -}}
#!/usr/bin/env bash
{{ template "helpers.sh" . }}

section "Homebrew"

progress "Updating"
if brew update >/dev/null 2>&1; then
    finish
else
    failed
    exit 1
fi

progress "Upgrading packages"
if brew upgrade >/dev/null 2>&1; then
    finish
else
    failed
    exit 1
fi
{{ end -}}
