#!/bin/zsh

if [[ ! -d {{ .chezmoi.homeDir }}/.tmux/plugins/tpm ]]; then
    git clone https://github.com/tmux-plugins/tpm {{ .chezmoi.homeDir }}/.tmux/plugins/tpm >/dev/null 2>&1
fi

tmux start-server >/dev/null 2>&1
tmux new-session -d >/dev/null 2>&1
sleep 1
tmux source {{ .chezmoi.homeDir }}/.tmux.conf >/dev/null 2>&1
{{ .chezmoi.homeDir }}/.tmux/plugins/tpm/scripts/install_plugins.sh >/dev/null 2>&1
tmux kill-server >/dev/null 2>&1