{{ if lookPath "brew" -}}
#!/usr/bin/env bash
{{ template "helpers.sh" . }}

section "Upgrades"

setup_brew_path
try "Upgrading Homebrew packages"  brew upgrade
try "Removing unused dependencies" brew autoremove
try "Cleaning up old versions"     brew cleanup -s

{{ end -}}
