#!/bin/zsh

if [[ ! -d "{{ .chezmoi.homeDir }}/git/iceberg.vim" ]]; then
    git clone https://github.com/cocopon/iceberg.vim.git "{{ .chezmoi.homeDir }}/git/iceberg.vim" >/dev/null 2>&1
fi

mkdir -p {{ .chezmoi.homeDir }}/.vim/colors
ln -sf {{ .chezmoi.homeDir }}/git/iceberg.vim/colors/iceberg.vim {{ .chezmoi.homeDir }}/.vim/colors/

curl -fLo {{ .chezmoi.homeDir }}/.vim/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim >/dev/null 2>&1
vim +'PlugInstall --sync' +qa >/dev/null 2>&1