#!/usr/bin/env bash
{{ template "helpers.sh" . }}

set -e

{{- $profile := .profile | default "basic" }}
{{- $allCustomTools := list }}
{{- $basicCustom := (index .packages "basic").custom | default list }}
{{- range $basicCustom }}{{ $allCustomTools = append $allCustomTools . }}{{ end }}
{{- if ne $profile "basic" }}
{{- $profileCustom := (index .packages $profile).custom | default list }}
{{- range $profileCustom }}
{{- if not (has . $allCustomTools) }}{{ $allCustomTools = append $allCustomTools . }}{{ end }}
{{- end }}
{{- end }}

{{- if has "homebrew" $allCustomTools }}
{{- $installer := index .custom "homebrew" }}

section "Homebrew"

if ! command -v {{ $installer.check }} >/dev/null 2>&1; then
{{ if eq .chezmoi.os "linux" -}}
    run "Installing Homebrew" NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL {{ $installer.url }})"
{{- else -}}
    run "Installing Homebrew" /bin/bash -c "$(curl -fsSL {{ $installer.url }})"
{{- end }}
    setup_brew_path
else
    success "Homebrew already installed"
    run "Updating Homebrew" brew update
fi

{{- end }}
