# Fabric AI Configuration
# Custom patterns directory
DEFAULT_VENDOR=OpenRouter
DEFAULT_MODEL=google/gemini-3.1-flash-lite-preview
PATTERNS_LOADER_GIT_REPO_URL=git@github.com:danielmiessler/fabric.git
PATTERNS_LOADER_GIT_REPO_PATTERNS_FOLDER=data/patterns
CUSTOM_PATTERNS_DIRECTORY={{ .chezmoi.homeDir }}/git/fabric
PROMPT_STRATEGIES_GIT_REPO_URL=git@github.com:danielmiessler/fabric.git
PROMPT_STRATEGIES_GIT_REPO_STRATEGIES_FOLDER=data/strategies
